#message_wrapper{
    display: block;
    width: 100%;
    overflow: hidden;
    clear: none;
    /*margin-bottom: 7px;*/
}
#message-container{
    display: inline-table;
    padding: 10px 0;
    width: 70%;
    overflow: hidden;
    clear: none;
    /*margin-bottom: 5px;*/
}

#chat-log{
    overflow-x: hidden;
    overflow-y: scroll;
    clear: none;
    height: 600px;
    width: 50%;
    max-height: 600px;
    background-color: orange;
    padding: 3px;
}

#chat-message-input{
    width: 48%;
    display: block;
    margin: 5px 0;
}
#chat-message-submit{
    display: block;
}

.message-content-p{
    display: inline-table;
    background-color: darkolivegreen;
    padding: 8px 15px;
    margin: 0;
    border-radius: 15px;
    max-width: 60%;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.replies img{
    margin-right: 7px;
}

.sent img{
    margin-left: 7px;
}

.replies, .replies img, .replies p{
    float: left;
}

.sent, .sent img, .sent p{
    float: right;
}

#message-container{
    /*margin: 0 0 0 0;*/
    /*padding: 0 0 0 0;*/
}
